*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.footer-wrapper{
    height: 10vh;
   
    margin-top: 2rem;
    background-color: rgb(78, 71, 71);
   
}
.footer-container{
   
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    font-weight: lighter;
   
}
.copy{
    align-self: center;
     margin-right: 10rem;
}
@media screen and (max-width: 770px) {
    .copy{
        margin: 0;
    }

}