*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.skillsets-wrapper{
    height: 90vh;
    margin:  2rem  ;
    height: fit-content;
}
.skill-container{
    display: flex;
    flex-wrap: wrap;

     gap: 1.5rem; 
    
    padding : 3.2rem 8rem;
    justify-content: center;
    

}
.skill-heading{
    text-align: center;
    font-weight:500;

}
.skil-badge{
    padding: .5rem .8rem;

    border: 2px solid   #9A5CFF;

  
    border-radius: 30px;
    font-weight: lighter;
    font-size: medium;
    text-align: center;
     box-shadow: 2px 1px 2px beige;
     box-shadow: 2px 2px 0 1px rgb(62, 62, 139);
    margin-left: 2rem; 
    margin-bottom: .5rem;

}
.skil-badge span{
    padding-right: 0.3rem;
}
.tools{
     margin: 2rem; 
}

@media screen and (max-width: 770px) {

    .skill-container{
        gap: 0.8rem;
    padding: 3.2rem 0rem;
    }

    .tools{
     margin: 0rem; 
}

}